In [2]:
import pandas as pd




# Load CSV file so we can use it as a pandas DF
crime_data = pd.read_csv('Crime_Data_from_2020_to_Present.csv')

# Display our column names
print("Column Names:")
print(crime_data.columns)

# Display the first 10 rows of the DF
print("\nFirst 10 rows:")
print(crime_data.head(10))

# Determine the total number of rows or records
total_rows = crime_data.shape[0]
print(f"\nTotal number of rows (tuples) in the dataset: {total_rows}")

Column Names:
Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

First 10 rows:
       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  190326475  03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM      2130     7
1  200106753  02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM      1800     1
2  200320258  11/11/2020 12:00:00 AM  11/04/2020 12:00:00 AM      1700     3
3  200907217  05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM      2037     9
4  220614831  08/18/2022 12:00:00 AM  08/17/2020 12:00:00 AM      1200     6
5  231808869  04/04/2023 12:00:00 AM  12/01/2020 12:00:00 AM      2300    18
6  230110144  04/04/2023 12:00:00 AM  07/03/2020 12:00:00 AM       900     1
7  220314085  07/22/2022 12:00:00 AM  05/12/2020 12:00:00 AM      1110     3
8  231309864  04/28/2023 12:00:00 AM  12/09/2020 12:00:00 AM      1400    13
9  211904005  12/31/2020 12:00:00 AM  12/31/2020 12:00:00 AM      1220    19

   AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0   Wilshire          784         1     510
1    Central          182         1     330
2  Southwest          356         1     480
3   Van Nuys          964         1     343
4  Hollywood          666         2     354
5  Southeast         1826         2     354
6    Central          182         2     354
7  Southwest          303         2     354
8     Newton         1375         2     354
9    Mission         1974         2     624

                                Crm Cd Desc  ... Status   Status Desc  \
0                          VEHICLE - STOLEN  ...     AA  Adult Arrest
1                     BURGLARY FROM VEHICLE  ...     IC   Invest Cont
2                             BIKE - STOLEN  ...     IC   Invest Cont
3  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...     IC   Invest Cont
4                         THEFT OF IDENTITY  ...     IC   Invest Cont
5                         THEFT OF IDENTITY  ...     IC   Invest Cont
6                         THEFT OF IDENTITY  ...     IC   Invest Cont
7                         THEFT OF IDENTITY  ...     IC   Invest Cont
8                         THEFT OF IDENTITY  ...     IC   Invest Cont
9                  BATTERY - SIMPLE ASSAULT  ...     IC   Invest Cont

  Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0    510.0    998.0       NaN      NaN
1    330.0    998.0       NaN      NaN
2    480.0      NaN       NaN      NaN
3    343.0      NaN       NaN      NaN
4    354.0      NaN       NaN      NaN
5    354.0      NaN       NaN      NaN
6    354.0      NaN       NaN      NaN
7    354.0      NaN       NaN      NaN
8    354.0      NaN       NaN      NaN
9    624.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   1900 S  LONGWOOD                     AV          NaN  34.0375 -118.3506
1   1000 S  FLOWER                       ST          NaN  34.0444 -118.2628
2   1400 W  37TH                         ST          NaN  34.0210 -118.3002
3  14000    RIVERSIDE                    DR          NaN  34.1576 -118.4387
4                         1900    TRANSIENT          NaN  34.0944 -118.3277
5   9900    COMPTON                      AV          NaN  33.9467 -118.2463
6   1100 S  GRAND                        AV          NaN  34.0415 -118.2620
7   2500 S  SYCAMORE                     AV          NaN  34.0335 -118.3537
8   1300 E  57TH                         ST          NaN  33.9911 -118.2521
9   9000    CEDROS                       AV          NaN  34.2336 -118.4535

[10 rows x 28 columns]

Total number of rows (tuples) in the dataset: 982638

In [5]:
import pandas as pd



# Load the CSV file into a pandas DataFrame
crime_data = pd.read_csv('Crime_Data_from_2020_to_Present.csv')

# We dont need the entire date, so we are extracting just the year
crime_data['Date Rptd'] = pd.to_datetime(crime_data['Date Rptd'], errors='coerce').dt.year

# Display the cleaned DataFrame (first 10 rows)
print(crime_data.head(10))

       DR_NO  Date Rptd                DATE OCC  TIME OCC  AREA  AREA NAME  \
0  190326475       2020  03/01/2020 12:00:00 AM      2130     7   Wilshire
1  200106753       2020  02/08/2020 12:00:00 AM      1800     1    Central
2  200320258       2020  11/04/2020 12:00:00 AM      1700     3  Southwest
3  200907217       2023  03/10/2020 12:00:00 AM      2037     9   Van Nuys
4  220614831       2022  08/17/2020 12:00:00 AM      1200     6  Hollywood
5  231808869       2023  12/01/2020 12:00:00 AM      2300    18  Southeast
6  230110144       2023  07/03/2020 12:00:00 AM       900     1    Central
7  220314085       2022  05/12/2020 12:00:00 AM      1110     3  Southwest
8  231309864       2023  12/09/2020 12:00:00 AM      1400    13     Newton
9  211904005       2020  12/31/2020 12:00:00 AM      1220    19    Mission

   Rpt Dist No  Part 1-2  Crm Cd                               Crm Cd Desc  \
0          784         1     510                          VEHICLE - STOLEN
1          182         1     330                     BURGLARY FROM VEHICLE
2          356         1     480                             BIKE - STOLEN
3          964         1     343  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)
4          666         2     354                         THEFT OF IDENTITY
5         1826         2     354                         THEFT OF IDENTITY
6          182         2     354                         THEFT OF IDENTITY
7          303         2     354                         THEFT OF IDENTITY
8         1375         2     354                         THEFT OF IDENTITY
9         1974         2     624                  BATTERY - SIMPLE ASSAULT

   ... Status   Status Desc Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0  ...     AA  Adult Arrest    510.0    998.0       NaN      NaN
1  ...     IC   Invest Cont    330.0    998.0       NaN      NaN
2  ...     IC   Invest Cont    480.0      NaN       NaN      NaN
3  ...     IC   Invest Cont    343.0      NaN       NaN      NaN
4  ...     IC   Invest Cont    354.0      NaN       NaN      NaN
5  ...     IC   Invest Cont    354.0      NaN       NaN      NaN
6  ...     IC   Invest Cont    354.0      NaN       NaN      NaN
7  ...     IC   Invest Cont    354.0      NaN       NaN      NaN
8  ...     IC   Invest Cont    354.0      NaN       NaN      NaN
9  ...     IC   Invest Cont    624.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   1900 S  LONGWOOD                     AV          NaN  34.0375 -118.3506
1   1000 S  FLOWER                       ST          NaN  34.0444 -118.2628
2   1400 W  37TH                         ST          NaN  34.0210 -118.3002
3  14000    RIVERSIDE                    DR          NaN  34.1576 -118.4387
4                         1900    TRANSIENT          NaN  34.0944 -118.3277
5   9900    COMPTON                      AV          NaN  33.9467 -118.2463
6   1100 S  GRAND                        AV          NaN  34.0415 -118.2620
7   2500 S  SYCAMORE                     AV          NaN  34.0335 -118.3537
8   1300 E  57TH                         ST          NaN  33.9911 -118.2521
9   9000    CEDROS                       AV          NaN  34.2336 -118.4535

[10 rows x 28 columns]

In [6]:
import pandas as pd


# Load CSV
crime_data = pd.read_csv('Crime_Data_from_2020_to_Present.csv')

# Convert the 'Date Rptd' column to datetime format and extract the year
crime_data['Date Rptd'] = pd.to_datetime(crime_data['Date Rptd'], errors='coerce').dt.year

# Get all the unique area names
unique_area_names = crime_data['AREA NAME'].unique()

# Display the first 10 rows of the cleaned crime data and unique area names
print("First 10 rows of cleaned data:")
print(crime_data.head(10))

print("\nUnique area names:")
print(unique_area_names)

First 10 rows of cleaned data:
       DR_NO  Date Rptd                DATE OCC  TIME OCC  AREA  AREA NAME  \
0  190326475       2020  03/01/2020 12:00:00 AM      2130     7   Wilshire
1  200106753       2020  02/08/2020 12:00:00 AM      1800     1    Central
2  200320258       2020  11/04/2020 12:00:00 AM      1700     3  Southwest
3  200907217       2023  03/10/2020 12:00:00 AM      2037     9   Van Nuys
4  220614831       2022  08/17/2020 12:00:00 AM      1200     6  Hollywood
5  231808869       2023  12/01/2020 12:00:00 AM      2300    18  Southeast
6  230110144       2023  07/03/2020 12:00:00 AM       900     1    Central
7  220314085       2022  05/12/2020 12:00:00 AM      1110     3  Southwest
8  231309864       2023  12/09/2020 12:00:00 AM      1400    13     Newton
9  211904005       2020  12/31/2020 12:00:00 AM      1220    19    Mission

   Rpt Dist No  Part 1-2  Crm Cd                               Crm Cd Desc  \
0          784         1     510                          VEHICLE - STOLEN
1          182         1     330                     BURGLARY FROM VEHICLE
2          356         1     480                             BIKE - STOLEN
3          964         1     343  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)
4          666         2     354                         THEFT OF IDENTITY
5         1826         2     354                         THEFT OF IDENTITY
6          182         2     354                         THEFT OF IDENTITY
7          303         2     354                         THEFT OF IDENTITY
8         1375         2     354                         THEFT OF IDENTITY
9         1974         2     624                  BATTERY - SIMPLE ASSAULT

   ... Status   Status Desc Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0  ...     AA  Adult Arrest    510.0    998.0       NaN      NaN
1  ...     IC   Invest Cont    330.0    998.0       NaN      NaN
2  ...     IC   Invest Cont    480.0      NaN       NaN      NaN
3  ...     IC   Invest Cont    343.0      NaN       NaN      NaN
4  ...     IC   Invest Cont    354.0      NaN       NaN      NaN
5  ...     IC   Invest Cont    354.0      NaN       NaN      NaN
6  ...     IC   Invest Cont    354.0      NaN       NaN      NaN
7  ...     IC   Invest Cont    354.0      NaN       NaN      NaN
8  ...     IC   Invest Cont    354.0      NaN       NaN      NaN
9  ...     IC   Invest Cont    624.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   1900 S  LONGWOOD                     AV          NaN  34.0375 -118.3506
1   1000 S  FLOWER                       ST          NaN  34.0444 -118.2628
2   1400 W  37TH                         ST          NaN  34.0210 -118.3002
3  14000    RIVERSIDE                    DR          NaN  34.1576 -118.4387
4                         1900    TRANSIENT          NaN  34.0944 -118.3277
5   9900    COMPTON                      AV          NaN  33.9467 -118.2463
6   1100 S  GRAND                        AV          NaN  34.0415 -118.2620
7   2500 S  SYCAMORE                     AV          NaN  34.0335 -118.3537
8   1300 E  57TH                         ST          NaN  33.9911 -118.2521
9   9000    CEDROS                       AV          NaN  34.2336 -118.4535

[10 rows x 28 columns]

Unique area names:
['Wilshire' 'Central' 'Southwest' 'Van Nuys' 'Hollywood' 'Southeast'
 'Newton' 'Mission' 'Rampart' 'West Valley' 'West LA' 'Olympic'
 'Hollenbeck' 'Topanga' 'Northeast' '77th Street' 'Pacific' 'N Hollywood'
 'Harbor' 'Foothill' 'Devonshire']

In [12]:
import pandas as pd

# Load the crime.csv file
df = pd.read_csv('Crime_Data_from_2020_to_Present.csv')

# Check the columns to verify the names
print("Columns in CSV file:", df.columns)

# Remove the specified columns
columns_to_remove = ['Cross street', 'Crm Cd 1', 'Crm Cd 2', 'Crm Cd 3', 'Part 1-2', 'Status', 'Rpt dist no']

# Filter out only the columns that exist
columns_to_remove_existing = [col for col in columns_to_remove if col in df.columns]

# Drop the existing columns
df.drop(columns=columns_to_remove_existing, inplace=True)

# Extract only the year from the 'Date Rptd' column if it exists
if 'Date Rptd' in df.columns:
    df['Year'] = pd.to_datetime(df['Date Rptd'], errors='coerce').dt.year

# Save the cleaned DataFrame to a new CSV file
df.to_csv('cleaned_crime.csv', index=False)

# Optional: Print the cleaned dataframe to verify the changes
print(df.head())

Columns in CSV file: Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')
       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  190326475  03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM      2130     7
1  200106753  02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM      1800     1
2  200320258  11/11/2020 12:00:00 AM  11/04/2020 12:00:00 AM      1700     3
3  200907217  05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM      2037     9
4  220614831  08/18/2022 12:00:00 AM  08/17/2020 12:00:00 AM      1200     6

   AREA NAME  Rpt Dist No  Crm Cd                               Crm Cd Desc  \
0   Wilshire          784     510                          VEHICLE - STOLEN
1    Central          182     330                     BURGLARY FROM VEHICLE
2  Southwest          356     480                             BIKE - STOLEN
3   Van Nuys          964     343  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)
4  Hollywood          666     354                         THEFT OF IDENTITY

               Mocodes  ...                                   Premis Desc  \
0                  NaN  ...                                        STREET
1       1822 1402 0344  ...             BUS STOP/LAYOVER (ALSO QUERY 124)
2            0344 1251  ...  MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)
3            0325 1501  ...                                CLOTHING STORE
4  1822 1501 0930 2004  ...                                      SIDEWALK

  Weapon Used Cd Weapon Desc   Status Desc Crm Cd 4  \
0            NaN         NaN  Adult Arrest      NaN
1            NaN         NaN   Invest Cont      NaN
2            NaN         NaN   Invest Cont      NaN
3            NaN         NaN   Invest Cont      NaN
4            NaN         NaN   Invest Cont      NaN

                                   LOCATION Cross Street      LAT       LON  \
0   1900 S  LONGWOOD                     AV          NaN  34.0375 -118.3506
1   1000 S  FLOWER                       ST          NaN  34.0444 -118.2628
2   1400 W  37TH                         ST          NaN  34.0210 -118.3002
3  14000    RIVERSIDE                    DR          NaN  34.1576 -118.4387
4                         1900    TRANSIENT          NaN  34.0944 -118.3277

   Year
0  2020
1  2020
2  2020
3  2023
4  2022

[5 rows x 24 columns]

In [14]:
# Drop the specified columns
columns_to_remove = ['Premis Desc', 'Weapon Used Cd', 'Weapon Desc', 'Status Desc', 'Crm Cd 4', 'Cross Street', 'DATE OCC']
df.drop(columns=columns_to_remove, inplace=True, errors='ignore')

# Save the updated DataFrame to a new CSV file without the specified columns
df.to_csv('cleaned_crime.csv', index=False)

# Optional: Print the cleaned dataframe to verify the changes
print(df.head())

       DR_NO  TIME OCC  AREA  AREA NAME  Rpt Dist No  Crm Cd  \
0  190326475      2130     7   Wilshire          784     510
1  200106753      1800     1    Central          182     330
2  200320258      1700     3  Southwest          356     480
3  200907217      2037     9   Van Nuys          964     343
4  220614831      1200     6  Hollywood          666     354

                                Crm Cd Desc              Mocodes  Vict Age  \
0                          VEHICLE - STOLEN                  NaN         0
1                     BURGLARY FROM VEHICLE       1822 1402 0344        47
2                             BIKE - STOLEN            0344 1251        19
3  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)            0325 1501        19
4                         THEFT OF IDENTITY  1822 1501 0930 2004        28

  Vict Sex Vict Descent  Premis Cd                                  LOCATION  \
0        M            O      101.0   1900 S  LONGWOOD                     AV
1        M            O      128.0   1000 S  FLOWER                       ST
2        X            X      502.0   1400 W  37TH                         ST
3        M            O      405.0  14000    RIVERSIDE                    DR
4        M            H      102.0                         1900    TRANSIENT

       LAT       LON  Year
0  34.0375 -118.3506  2020
1  34.0444 -118.2628  2020
2  34.0210 -118.3002  2020
3  34.1576 -118.4387  2023
4  34.0944 -118.3277  2022

In [8]:
import pandas as pd


data = pd.read_csv("cleaned_crime.csv")

# Displaying first few rows of the dataset
print(data.head())

# datatypes of each column
print(data.dtypes)

# Display type info of dataset
print(data.info())

       DR_NO  TIME OCC  AREA  AREA NAME  Rpt Dist No  Crm Cd  \
0  190326475      2130     7   Wilshire          784     510
1  200106753      1800     1    Central          182     330
2  200320258      1700     3  Southwest          356     480
3  200907217      2037     9   Van Nuys          964     343
4  220614831      1200     6  Hollywood          666     354

                                Crm Cd Desc              Mocodes  Vict Age  \
0                          VEHICLE - STOLEN                  NaN         0
1                     BURGLARY FROM VEHICLE       1822 1402 0344        47
2                             BIKE - STOLEN            0344 1251        19
3  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)            0325 1501        19
4                         THEFT OF IDENTITY  1822 1501 0930 2004        28

  Vict Sex Vict Descent  Premis Cd                                  LOCATION  \
0        M            O      101.0   1900 S  LONGWOOD                     AV
1        M            O      128.0   1000 S  FLOWER                       ST
2        X            X      502.0   1400 W  37TH                         ST
3        M            O      405.0  14000    RIVERSIDE                    DR
4        M            H      102.0                         1900    TRANSIENT

       LAT       LON  Year
0  34.0375 -118.3506  2020
1  34.0444 -118.2628  2020
2  34.0210 -118.3002  2020
3  34.1576 -118.4387  2023
4  34.0944 -118.3277  2022
DR_NO             int64
TIME OCC          int64
AREA              int64
AREA NAME        object
Rpt Dist No       int64
Crm Cd            int64
Crm Cd Desc      object
Mocodes          object
Vict Age          int64
Vict Sex         object
Vict Descent     object
Premis Cd       float64
LOCATION         object
LAT             float64
LON             float64
Year              int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982638 entries, 0 to 982637
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DR_NO         982638 non-null  int64
 1   TIME OCC      982638 non-null  int64
 2   AREA          982638 non-null  int64
 3   AREA NAME     982638 non-null  object
 4   Rpt Dist No   982638 non-null  int64
 5   Crm Cd        982638 non-null  int64
 6   Crm Cd Desc   982638 non-null  object
 7   Mocodes       837376 non-null  object
 8   Vict Age      982638 non-null  int64
 9   Vict Sex      844193 non-null  object
 10  Vict Descent  844182 non-null  object
 11  Premis Cd     982624 non-null  float64
 12  LOCATION      982638 non-null  object
 13  LAT           982638 non-null  float64
 14  LON           982638 non-null  float64
 15  Year          982638 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 120.0+ MB
None

In [25]:
cleaned_crime_data = pd.read_csv("cleaned_crime.csv")
# Get the number of unique values in the 'Crm Cd Desc' column
unique_crime_codes_count = cleaned_crime_data['Crm Cd Desc'].nunique()

print(f"Number of unique crime code descriptions: {unique_crime_codes_count}")

Number of unique crime code descriptions: 140

In [20]:
# Count the occurrences of each unique crime description
cleaned_crime_counts = cleaned_crime_data['Crm Cd Desc'].value_counts()

# We want to look at the top 30 crimes on the list
top_30_crimes = crime_counts.head(30)

print("Top 30 Crime Descriptions and Their Counts:")
print(top_30_crimes)

Top 20 Crime Descriptions and Their Counts:
VEHICLE - STOLEN                                            110804
BATTERY - SIMPLE ASSAULT                                     74688
BURGLARY FROM VEHICLE                                        61324
THEFT OF IDENTITY                                            60867
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)      59639
BURGLARY                                                     57743
ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT               53395
THEFT PLAIN - PETTY ($950 & UNDER)                           51384
INTIMATE PARTNER - SIMPLE ASSAULT                            46696
THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)              39550
THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)          35677
THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD     33707
ROBBERY                                                      32190
SHOPLIFTING - PETTY THEFT ($950 & UNDER)                     28830
VANDALISM - MISDEAMEANOR ($399 OR UNDER)                     24938
CRIMINAL THREATS - NO WEAPON DISPLAYED                       19237
TRESPASSING                                                  17898
BRANDISH WEAPON                                              14512
INTIMATE PARTNER - AGGRAVATED ASSAULT                        12651
VIOLATION OF RESTRAINING ORDER                               11739
LETTERS, LEWD  -  TELEPHONE CALLS, LEWD                       8430
BIKE - STOLEN                                                 7968
OTHER MISCELLANEOUS CRIME                                     6874
VIOLATION OF COURT ORDER                                      6368
BUNCO, GRAND THEFT                                            6171
SHOPLIFTING-GRAND THEFT ($950.01 & OVER)                      5482
ATTEMPTED ROBBERY                                             4832
OTHER ASSAULT                                                 4244
THEFT, PERSON                                                 4145
BATTERY WITH SEXUAL CONTACT                                   4143
Name: Crm Cd Desc, dtype: int64